<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <section id="features" class="ud-features">
      <h1>Hello world</h1>
      <% products.map((products)=>{%>
      <a href="/products/<%= products.id %>"></a><h4><%= products.productTitle %></h4>
      <p><%= products.productDescription %></p>
      <p>ราคา : <%= products.productPrice %> บาท</p>
      <%})%>
    </section>
  </body>
</html>
