<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <section id="features" class="ud-features">
      <h1>Product Detail</h1>
      <h4>
        <a href="/products/<%= products.id %>"><%= products.productTitle %></a>
      </h4>
      <p><%= products.productDescription %></p>
      <p>ราคา : <%= products.productPrice %> บาท</p>
    </section>
  </body>
</html>
