<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <section>
      <h1>Product Detail</h1>
      <h4><%= product.productTitle %></h4>
      <p><%= product.productDescription %></p>
      <p>ราคา : <%= product.productPrice %> บาท</p>
    </section>
  </body>
</html>
